      
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Discover hidden secrets.</h1>
        <p class="lead">That's the most beautiful website in the world, isn't it?</p>
        <p class="lead">
          <a href="<%=new_gossip_path %>" class="btn btn-lg btn-danger">Tell us a secret</a>
        </p>
      </main>